* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.transaction-input > form {
    display: flex;
    gap: 10px;
    height: 50px;
    /* justify-content: center; */
    align-items: center;
}

.transaction-input {
    position: relative;
    height: 70px;
}

.transaction-input > h2 {
    margin-left: 4px;
}

.new-container {
    display: flex;
    align-items: center;
}

/* .payment-container input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
} */

/* .expense, .income { */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* position: absolute;
    right: 0%; */
/* } */

/* .payment-container label:hover {
  background-color: #d18585;
} */

/* .payment-container label {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-radius: 4px;
} */
/* 


.payment-container input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.payment-container input[type="radio"]:checked + label {
    background-color: #ffffff;
    border-color: #4C84B8;
} */

/* .expense > img, .income > img  {
    width: 30px;
} */

#transact-btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

.category {
    padding-top: 50px;
    /* border: 1px solid black; */
    margin: 5px;
}

.category > form {
    display: flex;
    gap: 10px   ;
    margin: 5px;
}

button{
    cursor: pointer;
    margin: 10px;
    background-color: #ffffff;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #4C84B8;
    color: #4C84B8;
    font-size: 16px;
    width: 200px;
    font-weight: 700;
}

button:hover {
    color: #ffffff;
    background-color: #4C84B8;
}

.history {
    margin: 10px;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul > li {
    padding-bottom: 15px;
    list-style: none;
    /* text-align: center; */
}

ul {
    /* text-align: center; */
    border-bottom: 1px solid #D3D3D3;
}

body {
    display: flex;
    padding: 3rem;
    height: 100vh;
    width: 100%;
}

.left {
    width: 60%;
}

.right {
    background-color: #F8F8F8;
    /* padding-right: ; */
    padding: 20px;
    width: 30%;
}

.nav > img {
    width: 40px;
}

.details > h2 {
    font-weight: 600;
    font-size: 18px;
}

.details > h1 {
    color: #4C84B8;
    font-size: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.nav >  h3 {
    font-size: 18px;
    font-weight: 700;
}

.mini-details {
    display: flex;
    justify-content: space-between;   
}

.mini-details > div {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.mini-details > div > h3 {
    font-weight: 400;
}

.mini-details > div > h4 {
    color: #4C84B8;
    font-weight: 500;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.heading > a {
    text-decoration: none;
}

.accounts {
    background-color: #EFEFEF;
    padding: 10px;
    font-size: 12px;
    text-align: left;
}

.accounts > div {
    padding: 5px;
}

.body {
    border-top: 2px solid #ffffff;
    max-height: 200px;
    overflow-y: scroll;
}

.heading > h3, .sub-body > h3 {
    font-weight: 500;
    /* text-align: left; */
}

.heading > a {
    /* font-weight: 700; */
    font-size: 16px;
}

.sub-body {
    display: flex;
    justify-content: space-between;
    /* text-align: left; */
}

.right * {
    margin: 5px;
}

.chart-container {
    margin-top: 50px;
    /* padding-bottom: 90px; */
}

input[type="radio"]{
    height: 20px;
    width: 20px;
    border: 1px solid #4C84B8;
    cursor: pointer;
    /* -webkit-appearance: none; */
}

input[type="text"], .contain > select {
    height: 60px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 6px 22px 0px #ffffff ;
}

input[type="text"]{
    width: 60%;
    border-right: none;
    border: none;
    box-shadow: 0px 6px 22px 0px #0000001F;
}

.contain > select {
    border-left: none;
    border: none;
    box-shadow: 0px 6px 22px 0px #0000001F;   
}

.contain {
    width: 60%;
    background-color: #ffffff;
}

.transaction-input > h2 {
    font-weight: 500;
    font-size: 24px;
}

.left * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category {
    margin-top: 40px;
}

.category > h2 {
    font-weight: 500;
    font-size: 24px;
}

.history > h3 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* border-radius: 30px; */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .modal-input > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    gap: 10px;
  }

  .modal-content > h3 {
    color: #4C84B8;
  }

  input[type=button]{
    cursor: pointer;
    margin: 20px 0 20px 0;
    background-color: #4C84B8;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    width: 200px;
  }

  input[type=button]:hover {
    background-color: #67a2da;
  }

  .modal-input > form > input[type="text"], .modal-input > form > input[type="number"] {
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    margin-top: 5px;
    width: 50%;
  }
  
  .modal-input > form > input[type="number"] {
    padding: 10px;
  }


  
  /* The Close Button */
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #aaa;
    /* float: right; */
    font-size: 36px;
    /* font-weight: bold; */
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .chart {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .red {
    color: rgb(202, 83, 83);
  }

  .green {
    color: rgb(78, 172, 78);
  }

  .legend {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* padding-bottom: 90px; */
  }

  .e-legend, .i-legend {
    width: 50px;
    height: 8px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    flex-direction: row;
    /* margin-bottom: 90px; */
    /* text-align: center; */
  }

  .e-legend {
    background-color: #FD5151ED;
  }

  .i-legend {
    background-color: #1A9E57;
  }

  .legend > div > p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* text-align: center; */
  }