<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script deferc type="module" src="../controllers/dashboard.js"></script>
    <title>Expense Dashboard</title>
</head>
<body>
    <div class="left">
        <div class="transaction-input">
                <h2>Add Transactions</h2>
                <div class="new-container">
                    <div class="contain">
                        <input placeholder="Enter Amount" type="text" name="transaction" id="transaction">
                        <select name="method" id="transaction-dd">
                            <option value="Cash">Cash</option>
                            <option value="Savings">Savings</option>
                        </select>
                    </div>
                    <div class="pay-container">
                        <input type="radio" name="payment" checked id="expense" value="Expense">
                            <label for="expense">
                                    <!-- <img src="../assets/Expense.png" alt="expense"> -->
                                    <span>Expense</span>
                            </label>
                            
                            <input type="radio" name="payment" id="income" value="Income">
                            <label for="income">
                                    <!-- <img src="../assets/Income.png" alt="income"> -->
                                    <span>Income</span>
                            </label>      
                    </div>
                </div>
                <!-- <div class="payment-container">
                    <form action="">
                        <input type="radio" name="payment" checked id="expense">
                        <label for="expense">
                            <div class="expense">
                                <img src="../assets/Expense.png" alt="expense">
                                <span>Expense</span>
                            </div>
                        </label>
                        
                        <input type="radio" name="payment" id="income">
                        <label for="income">
                            <div class="income">
                                <img src="../assets/Income.png" alt="income">
                                <span>Income</span>
                            </div>
                        </label>      
                    </form>
                </div> -->
        </div>
        <div class="category">
            <h2>Select Category</h2>
            <div class="cat-container"></div>
            <!-- <form action="">
                <input type="radio" id="home" name="category" value="Home" checked>
                <label for="home">Home</label><br>
                <input type="radio" id="office" name="category" value="office">
                <label for="office">Office</label><br>
                <input type="radio" id="shopping" name="category" value="shopping">
                <label for="shopping">Shopping</label><br>
                <input type="radio" id="family" name="category" value="family">
                <label for="family">Family</label><br>
            </form> -->
        </div>
        <button id="transact-btn">Add</button>
        <div class="history">
            <h3>Transactions History</h3>
            <div class="transaction-ul">
                <ul>
                    <li> <strong>Home</strong> </li>
                    <li> Meezan Bank </li>
                    <li> 10/Nov/2021 </li>
                    <li> Rs. 15000 </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="nav">
            <h3 id="username">Name</h3>
            <img src="../assets/user.png" alt="pfp">
        </div>
        <div class="details">
            <h2>Current Balance</h2>
            <h1 id="cur-balance">PKR 20000</h1>
            <div class="mini-details">
                <div class="cash">
                    <h3>Cash</h3>
                    <h4 id="cur-cash">0</h4>
                </div>
                <div class="bank">
                    <h3>Bank</h3>
                    <h4 id="cur-bank">0</h4>
                </div>
                <div class="saving">
                    <h3>Savings</h3>
                    <h4 id="cur-savings">0</h4>
                </div>
            </div>
        </div>
        <div class="accounts">
            <div class="heading">
                <h3>All Accounts</h3>
                <a id="myBtn" href="#">Add More +</a>
            </div>
            <div class="body">
                <div class="sub-body">
                    <h3>Cash</h3>
                    <h3 class="cur-cash">PKR 10000</h3>
                </div>
                <div class="sub-body">
                    <h3>Savings</h3>
                    <h3 class="cur-savings">PKR 0</h3>
                </div>
                <div id="body"></div>
                <!-- <div class="sub-body">
                    <h3>Meezan Bank</h3>
                    <h3>PKR 10000</h3>
                </div> -->
            </div>
        </div>
        <div class="chart-container">
            <h2>Overview</h2>
            <div class="chart">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
            <div class="legend">
                <div class="e-legend">
                    <p>Expense</p>
                </div>
                <div class="i-legend">
                    <p>Income</p>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../assets/modal.png" alt="modal">
            <h3>Create New Account</h3>
            <p>More Accounts to Manage More Explicitly</p>
            <div class="modal-input">
                <form action="">
                    <input type="text" placeholder="Enter Your Account Name" name="account-name" id="account-name">
                    <input type="number" placeholder="Enter Amount" name="account-amount" id="account-amount">
                    <input type="button" id="new-account-btn" value="Create Account">
                </form>
            </div>
          
        </div>
      </div>
</body>
</html>